@model IEnumerable<LoanManagementSystem.Models.sdtoUser>

@{
    ViewBag.Title = "List of Members";
    
} 

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            // prepare the data
            var source =
            {
                dataType: "json",
                dataFields: [
                    { name: 'UserID', type: 'number' },
                    { name: 'Code', type: 'string' },
                    { name: 'FirstName', type: 'string' },
                    { name: 'LastName', type: 'string' },
                    { name: 'FatherName', type: 'string' },
                    { name: 'MemberInfo', type: 'number' },
                    { name: 'UserAddress', type: 'string' },
                    { name: 'PermanentAddress', type: 'string' },
                    { name: 'UserContactPhone', type: 'string' },
                    { name: 'UserContactMobile', type: 'string' },
                ],
                id: 'UserID',
                url: '/Member/MemberInfo'
            };

            var linkrenderer = function (row, column, value) {
                //if (value.indexOf('#') != -1) {
                //    value = value.substring(0, value.indexOf('#'));
                //}
                //var format = { target: '"_blank"' };
                //var html = $.jqx.dataFormat.formatlink(value, format);
                var html = '<b><a href="/Member/Edit/' + value + '">Edit</a>|<a id="lnpayment" href="/Loan/Create?UserId=' + value + '">Add Loan</a>'
                          + ' | <a href="/Member/Delete/' + value + '">Delete</a>';
                return html;
            }
            var dataAdapter = new $.jqx.dataAdapter(source);
            // create Tree Grid
            var gridInfo = $("#dataTable").jqxDataTable(
            {
                width: 1050,
                source: dataAdapter,
                theme: 'arctic',
                pageSize: 10,
                sortable: true,
                filterable: true,
                pageable: true,
                columns: [
                    {
                        text: 'Edit', dataField: 'MemberInfo', cellsAlign: 'center', align: "center", editable: false, sortable: false, width: 300,
                        cellsRenderer: linkrenderer
                    },
                  //{ text: 'Memeber Id', dataField: 'UserID', width: 120 },
                  { text: 'Code', dataField: 'Code', width: 120 },
                  { text: 'First Name', dataField: 'FirstName', width: 200 },
                  { text: 'Last Name', dataField: 'LastName', width: 160 },
                  { text: 'Fathers Name', dataField: 'FatherName', width: 150 },
                  { text: 'Address', dataField: 'UserAddress', width: 350 },
                  { text: 'Permanent Address', dataField: 'PermanentAddress', width: 350 },
                  { text: 'Phone', dataField: 'UserContactPhone', width: 160 }
                  //{ text: 'Mobile', dataField: 'UserContactMobile', width: 160 },                  
                ]
            });
        });
    </script>
}
<div id="dataTable"></div>

@helper CustomRenderActionColumn(LoanManagementSystem.Models.sdtoUser User)
{
    <b>
        @Html.ActionLink("Edit", "Edit", new { id = User.UserID }) @*| @Html.ActionLink("Details", "Details", new { id = User.UserID })*@ | @Html.ActionLink("Delete", "Delete", new { id = User.UserID })
        |
    </b>
}


 