@using Microsoft.AspNet.Identity
@using (Html.BeginForm("LogOff", "User", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
{
    @Html.AntiForgeryToken()
    <li class="dropdown">
        @if (Request.IsAuthenticated)
        {
            LoanManagementSystem.Models.sdtoUser UserDetails = HttpContext.Current.Session["UserDetails"] as LoanManagementSystem.Models.sdtoUser;
            if (UserDetails == null)
            {
                UserDetails = new LoanManagementSystem.Models.sdtoUser();
            }

            <a class="dropdown-toggle" data-toggle="dropdown" href="/Manage/Index">
                <img src="~/Utility/ProfileImage?UserId=@UserDetails.UserID" class="profile-img-circle" alt="User Profile" /><strong> @UserDetails.FirstName @UserDetails.LastName </strong><i class="fa fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu dropdown-user">
                @*<li>
                    <a href="#"><i class="fa fa-user-plus"></i> My Profile</a>
                </li>
                <li class="divider"></li>*@
                <li>
                    <a href="/User/LogOff"><i class="fa fa-sign-out"></i>Logout</a>
                </li>
            </ul>
        }
        else
        {
            @Html.ActionLink("Sign In", "Login", "User", routeValues: null, htmlAttributes: new { @id = "loginLink", @class = "fa fa-sign-in" })
        }
    </li>
}