@model IEnumerable<LoanManagementSystem.Models.sdtoCompany>

@{
    ViewBag.Title = "List of Companies";
    
}

@*<h2>List of Companies</h2>*@

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            // prepare the data
            var source =
            {
                dataType: "json",
                dataFields: [
                    { name: 'CompanyId', type: 'number' },
                    { name: 'Code', type: 'string' },
                    { name: 'CompanyName', type: 'string' },
                    { name: 'Owner', type: 'string' },
                     { name: 'TIN', type: 'string' },
                    { name: 'CompaniesInfo', type: 'number' },

                ],
                id: 'CompanyId',
                url: '/Company/CompaniesInfo'
            };

            var linkrenderer = function (row, column, value) {
                //if (value.indexOf('#') != -1) {
                //    value = value.substring(0, value.indexOf('#'));
                //}
                //var format = { target: '"_blank"' };
                //var html = $.jqx.dataFormat.formatlink(value, format);
                var html = '<b><a href="/Company/Edit/' + value + '">Edit</a>|<a id="lnpayment" href="/Company/Details/' + value + '">Details</a>'
                          + ' | <a href="/Company/Delete/' + value + '">Delete</a>';
                return html;
            }
            var dataAdapter = new $.jqx.dataAdapter(source);
            // create Tree Grid
            var gridInfo = $("#dataTable").jqxDataTable(
            {
                width: 1050,
                source: dataAdapter,
                theme: 'arctic',
                pageSize: 10,
                sortable: true,
                filterable: true,
                pageable: true,
                columns: [
                  { text: 'Company ID', dataField: 'CompanyId', width: 120 },
                  { text: 'Code', dataField: 'Code', width: 120 },
                  { text: 'Company Name', dataField: 'CompanyName', width: 200 },
                  { text: 'Owner', dataField: 'Owner', width: 160 }, 
                  { text: 'TIN', dataField: 'TIN', width: 150 },

                  {
                      text: 'Edit', dataField: 'CompaniesInfo', cellsAlign: 'center', align: "center", editable: false, sortable: false, width: 300,
                      cellsRenderer: linkrenderer
                  }
                ]
            });
        });
    </script>
}
<div id="dataTable"></div>

@helper CustomRenderActionColumn(LoanManagementSystem.Models.sdtoCompany Company)
{
    <b>
        @Html.ActionLink("Edit", "Edit", new { id = Company.CompanyId }) | @Html.ActionLink("Details", "Details", new { id = Company.CompanyId }) | @Html.ActionLink("Delete", "Delete", new { id = Company.CompanyId })
        |
    </b>
}
     