@model Data.Models.SysBase.Tree.Tree<Data.Models.Accounts.Schedules.sdtoSchedule>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

@*<script src="@Url.Content("~/Scripts/jstree.js")" type="text/javascript"></script>
    <script type="text/javascript">
        $(function () {
            $('#treeDemo').jstree();
            var tree = $('#treeDemo');
            tree.bind("loaded.jstree", function (event, data) {
                tree.jstree("open_all");
            });
        });
    </script>*@

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div id="treeDemo">
    @*<ul id="tree">
        <li>*@
    @*<a href="#">@Model.RootNode.Id</a>*@
    @Html.Partial("TreeView", Model.Nodes.FirstOrDefault())
    @*</li>
        </ul>*@
</div>

