@model IEnumerable<Data.Models.Accounts.sdtoAccountBook>

@{
    ViewBag.Title = "List Account Books";    
} 
<p>
    @Html.ActionLink("Create New", "Create")
</p>
                      @section scripts {
                          <script type="text/javascript">
                              $(document).ready(function () {
                                  // prepare the data
                                  var source =
                                  {
                                      dataType: "json",
                                      dataFields: [
                                          { name: 'AccountBookId', type: 'number' },
                                          { name: 'AccountBookType', type: 'string' },
                                          { name: 'BankCharges', type: 'number' },
                                          { name: 'BankInterest', type: 'number' },
                                          { name: 'BookCode', type: 'string' },
                                          { name: 'BookName', type: 'string' },
                                          { name: 'AccountName', type:'string' }
                                      ],
                                      id: 'AccountBookId',
                                      url: '/AccountBooks/AccountBooksInfo'
                                  };

                                  var linkrenderer = function (row, column, value) {
                                      //if (value.indexOf('#') != -1) {
                                      //    value = value.substring(0, value.indexOf('#'));
                                      //}
                                      //var format = { target: '"_blank"' };
                                      //var html = $.jqx.dataFormat.formatlink(value, format);
                                      var html = '<b><a href="/AccountBooks/Edit/' + value + '">Edit</a>'//|<a id="lnpayment" href="/AccountBooks/Details/' + value + '">Details</a>'
                                                + ' | <a href="/AccountBooks/Delete/' + value + '">Delete</a>';

                                      return html;
                                  }
                                  var dataAdapter = new $.jqx.dataAdapter(source);
                                  // create Tree Grid
                                  var gridInfo = $("#dataTable").jqxDataTable(
                                  {
                                      width: 1050,
                                      source: dataAdapter,
                                      theme: 'arctic',
                                      pageSize: 10,
                                      sortable: true,
                                      filterable: true,
                                      pageable: true,
                                      columns: [
                                        { text: 'Book Code', dataField: 'BookCode', width: 200 },
                                        { text: 'Book Name', dataField: 'BookName', width: 200 },
                                        //{ text: 'Account BookId', dataField: 'AccountBookId', width: 120 },
                                        { text: 'Account BookType', dataField: 'AccountBookType', width: 200 },
                                        //{ text: 'Bank Charges', dataField: 'BankCharges', width: 150 },
                                        //{ text: 'Bank Interest', dataField: 'BankInterest', width: 150 },
                                        { text: 'Account Name', dataField: 'AccountName', width: 200 },
                                        
                                        {
                                            text: 'Edit', dataField: 'AccountBookId', cellsAlign: 'center', align: "center", editable: false, sortable: false, width: 300,
                                            cellsRenderer: linkrenderer
                                        }
                                      ]
                                  });
                              });
                          </script>
                      }
                      <div id="dataTable"></div>


