@model IEnumerable<Data.Models.Accounts.sdtoDepositInfo>

@{
    ViewBag.Title = "List of Deposit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using GridMvc.Html
     
<p>
    @Html.ActionLink("Create New", "Create")
</p>
 
@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            // prepare the data
            var source =
            {
                dataType: "json",
                dataFields: [
                    { name: 'DepositId', type: 'number' }, 
                    { name: 'RecurringDepositDate', type: 'date' },
                    { name: 'DepositAmount', type: 'number' },
                    { name: 'InstallmentAmount', type: 'number' },
                    { name: 'InteresRate', type: 'number' },
                    { name: 'DepositInfo', type: 'number' },

                ],
                id: 'DepositId',
                url: '/Deposit/DepositInfo'
            };

            var linkrenderer = function (row, column, value) {
                //if (value.indexOf('#') != -1) {
                //    value = value.substring(0, value.indexOf('#'));
                //}
                //var format = { target: '"_blank"' };
                //var html = $.jqx.dataFormat.formatlink(value, format);
                var html = '<b><a href="/Deposit/Edit/' + value + '">Edit</a>|<a id="lnpayment" href="/Deposit/Details/' + value + '">Details</a>'
                          + ' | <a href="/Deposit/Delete/' + value + '">Delete</a>';
                        
                return html;
            }
            var dataAdapter = new $.jqx.dataAdapter(source);
            // create Tree Grid
            var gridInfo = $("#dataTable").jqxDataTable(
            {
                width: 1050,
                source: dataAdapter,
                theme: 'arctic',
                pageSize: 5,
                sortable: true,
                filterable: true,
                pageable: true,
                columns: [
                  { text: 'Deposit ID', dataField: 'DepositId', width: 120 }, 
                  { text: 'Recurring Deposit Date', dataField: 'RecurringDepositDate', cellsFormat: 'd', width: 200 }, 
                  { text: 'Deposit Amount', dataField: 'DepositAmount', width: 150 },
                  { text: 'Installment Amount', dataField: 'InstallmentAmount', width: 150 },
                  { text: 'Interes Rate', dataField: 'InteresRate', width: 150 },
                  {
                      text: 'Edit', dataField: 'DepositInfo', cellsAlign: 'center', align: "center", editable: false, sortable: false, width: 300,
                      cellsRenderer: linkrenderer
                  }
                ]
            });
        });
    </script>
}
<div id="dataTable"></div>

     